<div class="container" id="sobre">
  <div class="center">
    <div class="title">
      <h1>SOBRE MIM</h1>
    </div>
  </div>

  <div class="center">
    <div class="text">
      <p>
        Natural de Araioses - MA e nascido em 25/04/1974, tenho mais de 20 anos
        de experiência com trabalhos manuais e habilidades como serralheiro,
        carpinteiro, soldador, montador de estruturas metálicas e demolidor.
      </p>
    </div>
  </div>
  <app-button [text]="text" [image]="image" [href]="href"></app-button>
</div>
