<div class="container">
  <div class="center">
    <div class="logo">
      <!-- <img src="../../../assets/img/mask.svg" alt="Mask" /> -->
      <h1>GILBERTO MACHADO</h1>
    </div>
  </div>

  <div class="center">
    <div class="title">
      <h1 class="title">SERRALHEIRO</h1>
    </div>
  </div>

  <div class="center-slogan">
    <div class="slogan">
      <h2>Forjando soluções nos mínimos detalhes</h2>
    </div>
  </div>

  <div class="center-button">
    <app-button [text]="text" [image]="image"></app-button>
  </div>
</div>
